.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* Main Manu */

.MenuHeader {
  color: black;
  margin: auto;
}

.MenuItem {
  text-align: center;
  height: 10rem;
  width: 80%;
  font-size: 2rem;
  margin: 1%;
  max-width: 750px;
}

.GameTitle {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}


/* CPU select screen */

.radio {
  height: auto;
}

label.MenuItem {
  max-width: 100%;
}

.radio input {
  height: 2rem;
  width: 2rem;
  margin: 1rem; 
}

.giant_emoji {
  font-size: 10rem;
}



/* GAME */
